# Build
assets_processed*/
assets_unused/
assets_raw/

.proxyai/

build-pico/
build-sdl/
build-tests/
build-cartridge/

vendor/
gameplay/
scripts/python/libs/
.TODO.txt
TODO.txt
TODO
libs/
bin/
build-cartridge-code/
build-cartridge-data/

# Pico SDK generated
*.uf2
*.elf
*.bin
*.map

# CMake
CMakeCache.txt
CMakeFiles/
Makefile

# CLion / IDE
.idea/

# OS
.DS_Store